@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: #ffffff;
  color: #171717;
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes snow {
  0% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(110vh);
  }
}

.animate-snow {
  animation: snow linear infinite;
}
